<% @transactions.each do |transaction| %>
  <p>Date: <%= transaction.transaction_date() %></p>
  <p>Amount: <%= transaction.amount() %></p>
  <p>Merchant: <%=transaction.find_merchant().merchant_name %></p>
  <p>Tag: <%=transaction.find_tag().tag_name %></p>

  <p><a href="/transactions/<%= transaction.id%>">Show Transaction</a></p>
  <hr/>
<% end %>
