

<p>Total: £<%= @total_transactions['sum'] %>
Budget Limit: £<%= @budget_limit %></p>

<% if @total_transactions['sum'].to_i > @budget_limit%>
  <h3>YOU HAVE EXCEEDED YOUR SPENDING BUDGET!</h3>
<% end%>

<p>Date: <%=@transaction.transaction_date %></p>
<p>Amount: <%=@transaction.amount %></p>
<p>Merchant: <%=@transaction.find_merchant().merchant_name %></p>
<p>Tag: <%=@transaction.find_tag().tag_name %></p>

<div class="button">
  <form action="/transactions/<%=@transaction.id %>/delete" method="post">
    <input type="submit" value="Delete Transaction">
  </form>
  <p> </p>
  <form action="/transactions/<%=@transaction.id %>/edit" method="get">
    <input type="submit" value="Update Transaction">
  </form>
</div>
