

<p>Total: £<%= @total_transactions['sum'] %>
Budget Limit: £<%= @budget_limit %></p>

<% if @total_transactions['sum'].to_i > @budget_limit%>
  <h3>YOU HAVE EXCEEDED YOUR SPENDING BUDGET!</h3>
<% end%>

<% save_tag = 0 %>
<% counter = 0 %>
<% @transactions.each do |transaction| %>
  <% if transaction.tag_id != save_tag%>
      <p><b>Expenditure for
      <%=transaction.find_tag().tag_name %>
      £<%= '%.2f' % @tag_totals[counter]['sum'] %></b>
      <% counter += 1 %></p>
    <% end %>
    <table>
      <tr>
        <td><%=transaction.transaction_date() %></td>
        <td> £<%= '%.2f' % transaction.amount() %></td>
        <td><%=transaction.find_merchant().merchant_name %></td>
      </tr>
    </table>
    <% save_tag = transaction.tag_id %>
<% end %>
<hr/>
