<p>Total: £<%= @total_transactions['sum'] %>
Budget Limit: £<%= @budget_limit %></p>

<% if @total_transactions['sum'].to_i > @budget_limit%>
  <h2>YOU HAVE EXCEEDED YOUR SPENDING BUDGET!</h2>
<% end%>
<% save_tag = 0 %>
<% @transactions.each do |transaction| %>
  <p> <%=transaction.transaction_date() %> £<%=transaction.amount() %>
      <%=transaction.find_merchant().merchant_name %>
      <%=transaction.find_tag().tag_name %>
      <a href="/transactions/<%= transaction.id%>">Show Transaction</a>
      <% if transaction.tag_id != save_tag%>
            Expenditure for
            <%=transaction.find_tag().tag_name %> £<%=  @tag_totals[0] %>
      <% end %>
  </p>
      <% save_tag = transaction.tag_id %>
<% end %>
  <hr/>
