

<p>Total: £<%= @total_transactions['sum'] %>
Budget Limit: £<%= @budget_limit %></p>

<% if @total_transactions['sum'].to_i > @budget_limit%>
  <h3>YOU HAVE EXCEEDED YOUR SPENDING BUDGET!</h3>
<% end%>

<p>Total: £<%= @total_by_tag['sum'] %> Tag Category: <% %></p>

<% @transactions.each do |transaction| %>
  <p>Date: <%=transaction.transaction_date %>
  Amount: <%=transaction.amount %>
  Merchant: <%=transaction.find_merchant().merchant_name %>
  Tag: <%=transaction.find_tag().tag_name %></p>
<% end %>
