<p>Total: £<%= @total_by_tag['sum'] %> Tag Category: <% %></p>

<% @transactions.each do |transaction| %>
  <p>Date: <%=transaction.transaction_date %>
  Amount: <%=transaction.amount %>
  Merchant: <%=transaction.find_merchant().merchant_name %>
  Tag: <%=transaction.find_tag().tag_name %></p>
<% end %>
